.prev-container {
        margin-top: 0;
        width: 240px;
        height: 300px;
        border: white 2px solid;
        border-radius: 20px;
        box-shadow: 4px 5px rgba(255, 255, 255, 0.322);
        padding: 2px;
}

.prev-container h4 {
    width: 200px;
    color: white;
    font-family: 'Antic Didone',
        serif;
    text-transform: uppercase;
    letter-spacing: 5px !important;
    font-weight: lighter;
    font-size: 25px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 25px;
}