/* PREVIEW */
.about-prev-container {
    margin-top: 0;
    width: 240px;
    height: 300px;
    border: white 2px solid;
    border-radius: 20px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.322);
    padding: 2px;
}

.about-prev-container:hover {
    cursor: pointer;
}

.about-prev-container h4 {
    width: 200px;
    color: white;
    font-family: 'Antic Didone',
        serif;
    text-transform: uppercase;
    letter-spacing: 5px !important;
    font-weight: lighter;
    font-size: 25px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 25px;
}

.headshot {
    width: 200px;
    height: 175px;
    background-image: url("../../../Assets/imgs/headshot.jpg") !important;
    background-size: cover;
    margin: auto;
}

.about-prev-container p {
    font-size: 12px;
    text-transform: uppercase;
    width: 200px;
    margin: auto;
    margin-top: 5px;
    text-align: right;
    margin-bottom: 35px;
    height: fit-content;
    color: rgb(255, 248, 248)
}

/* FULL VIEW */

.about-full-container {
    background-color: rgba(32, 32, 32, 0.507);
    width: 100%;
    overflow: visible;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto 30px auto;
    padding: 30px;
    align-items: center;
    border-top: white 2px solid;
    border-bottom: white 2px solid;

    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.about-full-container h3 {
    width: 100%;
    color: white;
    font-family: 'Antic Didone',
        serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px !important;
    font-weight: lighter;
    font-size: 25px;
    margin: auto;
    margin-bottom: 20px;
}

.about-full-container .headshot {
    width: 400px;
    height: 275px;
}

.about-full-container p {
    font-size: 15px;
    /* text-transform: lowercase; */
    margin: auto;
    text-align: left;
    margin-bottom: 35px;
    height: fit-content;
    color: rgb(255, 248, 248)
}

.full-view-left {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    min-width: 200px;
    width: 400px;
}

.full-view-right {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.resume-container {
    height: 100%;
    width: 100%;
    color: white;   
}

.view-button {
    width: 100%;
        font-size: 12px;
        text-transform: uppercase;
        /* width: 200px; */
        /* margin: auto; */
        margin-top: 5px;
        margin-right: 15px;
        text-align: right;
        margin-bottom: 35px;
        height: fit-content;
        color: rgb(255, 248, 248);
        background-color: transparent;
        border: none;
        float: right;
}

