.homePage {
    /* position: relative; */
    margin-top: 130px;
    height: fit-content;
    width: 100%;
}

.tiles {
    /* width: 80%; */
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hide {
    background-color: red;
}